.btn {
  @apply font-bold py-2.5 px-4 rounded-2xl border-2 inline-flex items-center whitespace-nowrap;
}

.btn-pill {
  @apply font-bold py-2.5 px-4 rounded-full;
}

.btn-primary {
  @apply bg-primary border-primary text-white hover:bg-primary-700 hover:ring-4 hover:ring-primary-200
  hover:border-primary-700 hover:text-white;
}

.btn-outline-primary {
  @extend .btn-primary;

  @apply bg-transparent border-primary text-primary hover:bg-primary hover:text-slate-50
  hover:bg-primary;
}

.btn-secondary {
  @apply bg-secondary border-secondary border-secondary text-primary hover:bg-secondary-400
    hover:ring-4 hover:ring-secondary-200;
}

.btn-outline-secondary {
  @extend .btn-secondary;

  @apply bg-transparent border-secondary text-secondary hover:bg-secondary hover:text-primary
}

.btn-accent {
  @apply bg-accent border-accent text-slate-50 hover:bg-accent-300 hover:ring-4 hover:ring-accent-200 hover:border-accent-300;
}

.btn-outline-accent {
  @extend .btn-accent;

  @apply bg-transparent border-accent text-accent hover:bg-accent hover:text-slate-50
}

.btn-success {
  @apply bg-success border-success text-slate-50 hover:bg-success-600 hover:ring-4 hover:ring-success-200;
}

.btn-outline-success {
  @extend .btn-success;

  @apply bg-transparent border-success text-success hover:bg-success hover:text-slate-50
}

.btn-error {
  @apply bg-error border-error text-slate-50 hover:bg-error-800 hover:ring-4 hover:ring-error-300;
}

.btn-outline-error {
  @extend .btn-error;

  @apply bg-transparent border-error text-error hover:bg-error hover:text-slate-50
}

.btn-info {
  @apply bg-info border-info text-slate-50 hover:bg-info-600 hover:ring-4 hover:ring-info-300;
}

.btn-outline-info {
  @extend .btn-info;

  @apply bg-transparent border-info text-info hover:bg-info hover:text-slate-50
}

.btn-sm {
  @apply py-2 px-3 text-sm
}

.btn-lg {
  @apply py-4 px-5 text-lg
}

.btn-disabled {
  @apply opacity-50 cursor-not-allowed hover:ring-0;
}

.btn-icon {
  @apply rounded-full bg-transparent border-transparent p-2.5 hover:bg-opacity-0;

  &.btn-sm {
    @apply p-2
  }

  &.btn-lg {
    @apply p-4
  }
}
